<%- include('./includes/head.ejs')%>

  <%- include('./includes/navigation.ejs')%>

  <span class="h-35"></span>

  <h1>I About Pajguh </h1>

<%- include('./includes/end.ejs')%>

<!-- Running node-supervisor with
  program 'views'
  --watch '.'
  --extensions 'node,js'
  --exec 'node' -->