<%- include('./includes/head.ejs')%>

  <%- include('./includes/navigation.ejs')%>

  <span class="h-35"></span>

  <div class="main">
    
      <h1>I am Home Route</h1>
  </div>

<%- include('./includes/end.ejs')%>