<%- include('./includes/head.ejs')%>

<%- include('./includes/navigation.ejs')%>

<span class="h-35"></span>
<div class="row">
  <div class="sidebar">
    <ul>
      <li>
        <i class="icon user-profile fa fa-user" aria-hidden="true"></i>
        <span class="">Profile</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-job " aria-hidden="true"></i>
        <span class="">Activites</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-user" aria-hidden="true"></i>
        <span class="">Profile</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-user" aria-hidden="true"></i>
        <span class="">Profile</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-user" aria-hidden="true"></i>
        <span class="">Profile</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-user" aria-hidden="true"></i>
        <span class="">Profile</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-job " aria-hidden="true"></i>
        <span class="">Activites</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-user" aria-hidden="true"></i>
        <span class="">Profile</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-user" aria-hidden="true"></i>
        <span class="">Profile</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
      <li>
        <i class="icon user-profile fa fa-user" aria-hidden="true"></i>
        <span class="">Profile</span>
        <i class="icon arrow fa fa-arrow-right"></i>
      </li>
    </ul>
  </div>
  <div class="content_profile">
    <span class="h-15"></span>
    <h2 class="title--db">My Profile</h2>
    <img class="db_profile_pic" src="/images/PicsArt_06-12-10.16.33~01.jpg" alt="" srcset="">
    <h2 class="title">I am RaseL Mahmud</h2>
    <p class="para">I am fullstack Web developer</p>
    <br>
    <br>
    <br>
    <a href="/admin/posts">
    <button class="btn btn--register">Add Post</button>
  </a>
    </div>
</div>



<%- include('./includes/end.ejs')%>